.venv/
.env
env/
config.ini
data/
*.log
*.pbix
*.swp
*~
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.egg-info/
dist/
build/
lib/
lib64/
*.egg
*.so
lib64
.dockerignore
*.anki2
*.anki2-shm
*.anki2-wal
*.sqlite
*.log
logs/
.vscode/
node_modules/
pyvenv.cfg
python_scripts/lid.176.bin
bin/
